<div class="container">
  <mat-toolbar class="toolbar" color="primary">
    <span>Sólides Tecnologia</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/login">Login</button>
    <button mat-button routerLink="/cadastro">Cadastro</button>
  </mat-toolbar>

  <div class="content">
    <img src="assets/solides.png" alt="Sólides Tecnologia Logo" class="logo" />
    <h1 class="title">Bem-vindo ao Blog da Sólides Tecnologia</h1>
    <p class="description">
      A Sólides é uma empresa de tecnologia, líder no Brasil na Gestão de Pessoas de pequenas e médias empresas. Desde
      2015, oferecemos soluções inovadoras com metodologia exclusiva que ajudam na atração, desenvolvimento e retenção
      de talentos, reduzindo a rotatividade e aumentando as vantagens competitivas dos negócios.
    </p>
    <p class="description">Acesse nosso blog, a melhor comunidade de tecnologia do pais!</p>
  </div>

  <div class="buttons">
    <button mat-raised-button color="accent" routerLink="/login">Login</button>
    <button mat-raised-button color="primary" routerLink="/cadastro">Cadastro</button>
  </div>
</div>

<router-outlet></router-outlet>
