<app-post></app-post>

<h2 class="title">Últimas publicações</h2>
<mat-card class="post-card" *ngFor="let post of posts">
  <mat-card-header>
    <mat-card-title class="text">Conteúdo: {{ post.text }}</mat-card-title>
    <button (click)="deletePost(post.id)" class="delete-post-button" mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
    <mat-card-subtitle>
      <span *ngFor="let comment of post.comments">Comentários: {{ comment }} </span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      <span *ngFor="let link of post.links">Links: {{ link }} </span>
    </p>
  </mat-card-content>
  <div *ngFor="let photo of post.photos">
    <span>Fotos:</span>
    <img mat-card-image class="img-article" src="{{ photo }}" alt="" />
  </div>
  <div *ngFor="let comment of post.comments">
    <span>Comentários: {{ comment }}</span>
    <button mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div>
    <form [formGroup]="form" (ngSubmit)="submitComment(post.id)">
      <p>
        <mat-form-field class="comment">
          <textarea
            wrap="hard"
            type="text"
            matInput
            placeholder="Digite seu comentário aqui"
            formControlName="comment"
          ></textarea>
        </mat-form-field>
        <button class="comment-button" mat-raised-button color="primary" type="submit">Commentar</button>
      </p>
    </form>
  </div>
</mat-card>
